# 默认忽略的文件
/../../../:javaSE-learn/.idea/shelf/
/../../../:javaSE-learn/.idea/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/../../../:javaSE-learn/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:javaSE-learn/.idea/dataSources/
/../../../:javaSE-learn/.idea/dataSources.local.xml
